TELEGRAM_BOT_TOKEN=8700358192:AAGWubvdHFSyAzbAgqL486bMhD5lYc5h6iM
GIGACHAT_API_KEY=MDE5YmI3NTEtNDBmMi03Nzk1LTgxMjctYjQ3YjJlOGNlNWNhOjUyYzUxZDBlLThiNmUtNGI3My05YzQ1LTllZjUwZGE4ZTFlYQ==
GIGACHAT_VERIFY_SSL=0
GIGACHAT_MAX_TOKENS=350
GIGACHAT_TEMPERATURE=0.1
GIGACHAT_TOP_P=0.8
REQUEST_TIMEOUT=45
